@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    background: linear-gradient(blue, 10%, pink);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.base{
    display:flex;
    flex-direction: column;
    padding: 150px 75px;
    margin: 50px 500px;
    background-color:darkgray;
    border-radius: 50px;
    gap: 30px;
    align-items: center;
}

.screen, .base{
    border: 1px solid black;
    background-position: left top;
    background-repeat: repeat;
}

.screen{
    display:flex;
    border-radius: 10px;
    background-color:floralwhite;
    border: 1px solid black;
   justify-content: flex-end;
    box-sizing: border-box;
    width: 427px;
    height: 127px;
   
}
#answer{
    font-size: 80px;
    vertical-align: bottom;
}
.buttons{
    display: flex;
    gap: 50px;
}

#clear, #delete{
    border: 1px solid black;
    padding: 20px 60px;
    border-radius: 15px;
    background-position: left top;
    background-repeat: repeat;
}
#clear{
background-color: lightskyblue;
}

#delete{
background-color:tomato;

}
.inputs{
    display:flex;
    flex-direction: column;
    gap: 25px;
}

.first-row, .second-row, .third-row, .fourth-row{
    display: flex;
    gap: 25px; 
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #add, #multiply, #divide, #subtract, #decimal, #equals{
    display: grid;
    place-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-color:aliceblue;
    border-radius: 5px;
    background-position: left top;
    background-repeat: repeat;
    font-size:24px;
}

#one:active, #two:active, #three:active, #four:active, #five:active, #six:active, #seven:active, #eight:active, #nine:active, #zero:active, #add:active, 
#multiply:active, #divide:active, #subtract:active, #decimal:active, #equals:active{
    background-color: whitesmoke;
}

#clear:active{
    background-color: lightblue;
}

#delete:active{
    background-color:lightcoral;
}